<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">

    <div layout:fragment="mainContent">
        <div class="row mt-3">
            <div class="col-6 mx-auto">
                <form th:action="@{'/addstudent'}" method="post">
                    <div class="mb-3">
                        <label class="form-label">NAME :</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">SURNAME : </label>
                        <input type="text" class="form-control" name="surname">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">EXAM : </label>
                        <input type="number" class="form-control" name="exam">
                    </div>
                    <button class="btn btn-success">ADD STUDENT</button>
                </form>
            </div>
        </div>
    </div>

</html>