<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">

    <div layout:fragment="mainContent">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>SURNAME</th>
                            <th>EXAM</th>
                            <th>MARK</th>
                        </tr>
                    </thead>
                    <tbody th:each="student : ${students}">
                        <tr th:style="${student.exam <= 50 ? 'text-bg-danger' : 'text-bg-dark'}">
                            <td th:text="${student.id}"></td>
                            <td th:text="${student.name}"></td>
                            <td th:text="${student.surname}"></td>
                            <td th:text="${student.exam}"></td>
                            <td th:text="${student.mark}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</html>